<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mybatis.dao.UsersMapper">
  <resultMap id="BaseResultMap" type="com.mybatis.model.Users">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="telephone" jdbcType="INTEGER" property="telephone" />
    <result column="sex" jdbcType="INTEGER" property="sex" />
    <result column="portrait" jdbcType="VARCHAR" property="portrait" />
    <result column="account" jdbcType="DOUBLE" property="account" />
    <result column="bank" jdbcType="VARCHAR" property="bank" />
    <result column="permissionsId" jdbcType="BIGINT" property="permissionsid" />
  </resultMap>
  <sql id="Base_Column_List">
    id, username, password, address, telephone, sex, portrait, account, bank, permissionsId
  </sql>
  
<!-- ============================查询所有的用户====================================================== -->  
  <select id="findUserAll" resultMap="BaseResultMap">
  		select <include refid="Base_Column_List"/> from t_users where 1=1 order by id
  </select>
  
  
  
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_users
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_users
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.mybatis.model.Users">
    insert into t_users (id, username, password, 
      address, telephone, sex, 
      portrait, account, bank, 
      permissionsId)
      values (#{id,jdbcType=BIGINT}, 
      #{username,jdbcType=VARCHAR}, 
      #{password,jdbcType=VARCHAR}, 
      #{address,jdbcType=VARCHAR},
      #{telephone,jdbcType=INTEGER}, 
      #{sex,jdbcType=INTEGER}, 
      #{portrait,jdbcType=VARCHAR}, 
      #{account,jdbcType=DOUBLE}, 
      #{bank,jdbcType=VARCHAR}, 
      #{permissionsid,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.mybatis.model.Users">
    insert into t_users
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="telephone != null">
        telephone,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="portrait != null">
        portrait,
      </if>
      <if test="account != null">
        account,
      </if>
      <if test="bank != null">
        bank,
      </if>
      <if test="permissionsid != null">
        permissionsId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null">
        #{telephone,jdbcType=INTEGER},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=INTEGER},
      </if>
      <if test="portrait != null">
        #{portrait,jdbcType=VARCHAR},
      </if>
      <if test="account != null">
        #{account,jdbcType=DOUBLE},
      </if>
      <if test="bank != null">
        #{bank,jdbcType=VARCHAR},
      </if>
      <if test="permissionsid != null">
        #{permissionsid,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mybatis.model.Users">
    update t_users
    <set>
      <if test="username != null">
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null">
        telephone = #{telephone,jdbcType=INTEGER},
      </if>
      <if test="sex != null">
        sex = #{sex,jdbcType=INTEGER},
      </if>
      <if test="portrait != null">
        portrait = #{portrait,jdbcType=VARCHAR},
      </if>
      <if test="account != null">
        account = #{account,jdbcType=DOUBLE},
      </if>
      <if test="bank != null">
        bank = #{bank,jdbcType=VARCHAR},
      </if>
      <if test="permissionsid != null">
        permissionsId = #{permissionsid,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mybatis.model.Users">
    update t_users
    set username = #{username,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      telephone = #{telephone,jdbcType=INTEGER},
      sex = #{sex,jdbcType=INTEGER},
      portrait = #{portrait,jdbcType=VARCHAR},
      account = #{account,jdbcType=DOUBLE},
      bank = #{bank,jdbcType=VARCHAR},
      permissionsId = #{permissionsid,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>